PROJECT_NAME="Hospital Management System"
API_V1_STR="/api/v1"

POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hospital_db

JWT_SECRET_KEY=change-this-in-production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

FIRST_SUPERADMIN_EMAIL=admin@hospital.com
FIRST_SUPERADMIN_PASSWORD=Admin@123456
FIRST_SUPERADMIN_NAME="System Super Admin"
